<h1><%= director.name %></h1>
<div class="form-row">
    <a class="btn btn-primary" style="margin-right: 1.5rem;" href="/directors/<%= director.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm',{ url : `/directors/${director.id}`}) %>
    
</div>

<% if (moviesByDirector.length > 0) { %>
 <h2>Movies By Director</h2>
 <% moviesByDirector.forEach((movie) => { %>
    <a href="/movies/<%= movie.id %>">
    <div style="display: inline-block;">
        <img style="margin:3px 10px 0;" src="<%= movie.posterImagePath %>" height="150" width="100"  alt="img">
        <h3 class="movie-title" style="margin:0 10px 3px;"> <%=movie.name %></h3>
    </div>
   </a>
<% }); %>  
<%  } %>     